@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  max-width: 440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard_Variable-Regular", Helvetica;
  font-size: 16px;
  position: relative;
}

#root {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

@media (max-width: 360px) {
  html, body, #root{
    font-size: 14px;
  }
}
